@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    TempData["Title"] = "AboutUs";
}


<div class="card border-primary mb-3" style="max-width: 20rem;background-color:turquoise;">
    <div class="card-header" style="background-color:springgreen">About Documanager</div>
    <div class="card-body">
        <h4 class="card-title" style="font-family: 'Rubik Glitch', system-ui;">Documanager Details</h4>
        <marque class="card-text">Introducing a seamless and efficient document management experience with our Document Manager App, equipped with robust Upload and Download features. Whether you're a professional handling important business files or an individual organizing personal documents, our app simplifies the process, ensuring secure and convenient access to your files.</marque>
    </div>
</div>
