html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:bisque;
}
.User {
    margin-left: 20px;
    list-style:none;
    align-content:end;
}

    .User span {
        text-align: center;
        padding: 10px 10px;
        background-color: #deffbb;
        border-radius: 6px;
        color: black;
    }


